@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');
*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		scroll-behavior: smooth;
}
@font-face{
		font-family: 'Bitter';
		src: url('./assets/fonts/Bitter/Bitter-ExtraBold.ttf'); 
}
@font-face{
		font-family: 'Bitter-bl';
		src: url("./assets/fonts/Bitter/Bitter-Black.ttf");
}
@font-face{
		font-family: 'Bitter';
		src: url("./assets/fonts/Bitter/Bitter-SemiBold.ttf");
}
@font-face{
		font-family: 'Bitter';
		src: url("./assets/fonts/Bitter/Bitter-Medium.ttf");
}
@font-face{
		font-family: 'Bitter';
		src: url("./assets/fonts/Bitter/Bitter-Bold.ttf");
}
@font-face{
		font-family: 'Poppins';
		src: url("./assets/fonts/Poppins/Poppins-Medium.ttf");
}
@font-face{
		font-family: 'Poppins';
		src: url("./assets/fonts/Poppins/Poppins-Bold.ttf");
}
@font-face{
		font-family: 'Poppins';
		src: url("./assets/fonts/Poppins/Poppins-SemiBold.ttf");
}
@font-face{
		font-family: 'Poppins';
		src: url("./assets/fonts/Poppins/Poppins-Regular.ttf");
}
@font-face{
		font-family: 'Bitter';
		src: url("./assets/fonts/Bitter/Bitter-Regular.ttf");
}
body{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		overflow: hidden;
		overflow-y: scroll;	
}
header{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		padding: 30px 100px;
		display: flex;
		justify-content: space-between;
		align-items: center;
}
hr{
		width: 400px;
		margin-top: -5px;
		margin-left: 5px;
}
header ul{
		display: flex;
		justify-content: space-around;
		align-items: center;
		font-family: 'Bitter';
		font-weight: 600;
}
header ul li{
		list-style: none;
		margin-left: 20px;
}
header ul li a{
		text-decoration: none;
		padding: 6px 15px;
		color: #593636;
		font-size: 24px;
		transition: ease .1s;
}
header ul li a:hover{
		width: 20px;
		height: 20px;
		background-color:#FFCFB5; 
		color: #EC5E0F;
		transition: ease .1s;
		border-radius: 8px;
}
.search-box{
		display: flex;
		align-items: center;
		background-color:;
		padding: 2px 5px;
		border-radius: 50px;
		margin-left: 3px;
	}
	.search-btn{
		color: #E84118;
		float: right;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background: ;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: 0.4s;
}	
.search-txt{
		border: none;
		background: none;
		outline: none;
		float: none;
		padding: 0;
		color: black;
		font-family: 'Poppins';
		font-weight: medium;
		font-size: 16px;
		transition: 0.4s;
		line-height: 40px;
		width: 0px;
}
.search-box:hover > .search-txt{
		width: 100px;
		padding: 0 6px;
		background: white;
		border-radius: 40px;
		cursor: pointer;
}
.search-box:hover > .search-btn{
		color: #E84118;
		float: right;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background: #EA7738;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: 0.4s;
}
.icon{
		display: flex;
		justify-content: space-between;
		width: 170px;
		margin: 0px 5px;
}
.icon i{
		margin: 0px 19px;
}
.sect6{
	padding: 100px 0px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.footer-head{
	font-size: 24px;
	font-family: 'Montserrat';
	font-weight: 600;
	margin-bottom	: 20px;
}
.footer-head1{
	font-size: 24px;
	font-family: 'Montserrat';
	font-weight: 600;
	margin-bottom: 100px;
	color:#494949;
}
.text-menu{
	line-height: 200%;
	font-size: 16px;
	font-family: 'Montserrat';
	font-weight: 500;
}
.text-menu div a{
	transition: .2s ease;
}
.text-menu div a:hover{
	color: #F7931E;
	transition: .2s ease;
	cursor: pointer;
}
.text-menu1{
	margin-top: -60px;
	line-height: 1.3;
	font-size: 16px;
	font-family: 'Montserrat';
	font-weight: 500;
	margin-bottom: 40px;
}
.text-send{
	display: flex;
}
.text-send .input{
	background-color:#F3F3F3;
	border: none;
	width: 378px;
	border-radius: 5px;
}
.text-send input{
	font-family: 'Poppins';
	font-weight: 400;
	color: #9F9F9F;
	text-align: center;
}				
.text-send button{
	font-family: 'Montserrat';
	font-weight: 600;
	color: white;
	background-color:#F7931E;
	border: none;
	font-size: 20px;
	width: 89px;
	height: 50px;
	border-radius: 5px;
	transition: .2s ease;
}
.text-send button:hover{
	color: #F7931E;
	background-color: white;
	transition: .2s ease;
	cursor: pointer;
}
.akun{
	margin-top: 50px;
}
.akun a{
	color: #9F9F9F;
	margin: 0px 10px; 
	transition: .2s ease;
	text-decoration: none;
}
.akun a:hover{
	color: #EA7738;
	transition: .2s ease;
	cursor:pointer;
}
hr{
	margin-top: 40px;
	border-color: #F2D3C1;
	text-align: center;
	margin-left: 26px;
	justify-content: space-between;
	width: 1860px;
}
.last div{
	text-align:center;
	color:#4E4E4E;
	margin-top: 50px;
	margin-bottom: 100px;
	font-family: 'Poppins';
	font-weight: 400;
}
.sect1{
	padding: 145px 0px;
	background-color: #FFF0E4;
}
.textcarrier{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 100px 0px;
}
.textcarrier .img img{
	transition: all 0.5s;
}
.textcarrier .img img:hover{
	transform: scale(1.1);
	transition: all 0.5s;
	cursor: pointer;
}
.text h1{
	color:#523838;
	font-size: 64px;
	font-family: 'Bitter';
	font-weight: 800;
}
.text h4{
	color: #6D6D6D;
	font-family: 'Bitter';
	font-weight: 500;
	font-size: 32px;
	margin-top: 20px;
}
.img{
	margin:110px auto;
	width: 1080px;
	height: 608px;
	background: url("./assets/Rectangle 1131.png");
	background-size: cover;
	text-align: center;
	align-self: center;
	transition: .2s ease; 
}
.img1{
	background: rgba(0, 0, 0, 0.4);
	width: 100%;
	height: 100%;
	opacity: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	transition: .2s ease;
}
.img1 h1{
	color: white;
	font-size: 36px;
	font-family: 'Bitter';
	font-weight: 700;
	transition: .2s ease;
}
.img:hover .img1{
	opacity: 1;
	transition: .2s ease;
}
.img1 img{
	margin-top: 40px; 
}
.popup-video{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	background: rgba(0,0,0, .8);
	height: 100%;
	width: 100%;
	display: none;
}
.popup-video video{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	border: 3px solid white;
	object-fit: cover;
}
.popup-video span{
	position: absolute;
	top: 20px;
	right: 40px;
	color: white;
	font-weight: bold;
	z-index: 100;
	font-size: 40px;
	cursor: pointer;
}
.sect2{
	padding: 145px 150px;
}
.sect3{
	padding: 145px 0px;
	background-color: #FFF0E4;
}
.sect3 h1{
	font-family: 'Bitter';
	font-weight: 700;
	text-align: center;
	font-size: 48px;
	color: #523838;
	margin: 40px 0px;	 	
}
.sect3 p{
	font-family: 'Poppins';
	text-align: center;
	margin: auto;
	font-weight: 500;
	font-size: 24px;
	width: 1000px;
	color: #7D5E4D;	
	line-height: 2.0; 	
}
.sect4{
	padding: 145px 0px;
}
.sect4 h1{
	font-family: 'Bitter';
	font-weight: 700;
	text-align: center;
	font-size: 48px;
	color: #523838;
	margin: 40px 0px;	
}
.sect5{
	padding: 145px 324px;
	background-color: #FFF0E4;
}
.sect5 h1{
	font-family: 'Bitter';
	font-weight: 700;
	text-align: center;
	font-size: 48px;
	color: #523838;
	margin: 105px 0px;	
}
.sect5 div{
	align-items: center;
	justify-content: space-around;
	text-align: center;
	margin: 50px 0px;
	border: 10px solid #7B401F ;
}
.contain{
	display:flex!important;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-top: 100px;
}
.card_img-body{
	margin: 10px 10px;
}
.sect5 .map iframe{
	overflow: hidden;
}
.image{
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin: 100px 120px;
}
.image-cont img{
	margin: 10px 0px;
}
.image-cont2 .image-cont-3 img{
	margin: 5px 5px;
}
.image-cont2 .image-cont-5 img{
	margin: 5px 5px;
}	
.contain .contain-section{
	margin-left: -50px;	
	width: 110%;
}
.image-cont3 img{
	margin: 10px 0px;
}
.contain h1{
	font-size: 48px;
	color: #7B401F;
	font-family: 'Bitter';
	font-weight: 800;
	text-align:center;
	margin-top: 50px;
}
.contain-section{
	display: flex;
	justify-content:space-around;
	align-items: center;
	margin-top: 200px;
}
.contain-text h3{
	color: #523838;
	font-size: 40px;
	font-family: 'Bitter';
	font-weight: 800;
	margin-bottom: 90px;
}
.contain-text p{
	color: #8C6E5E;
	font-size: 24px;
	font-family: 'Poppins';
	font-weight: 500;
	width: 600px;
	margin-bottom: 50px;
}
.contain-text .icons {
	margin: 0px -10px;
}
.contain-text .icons a{
	color: #9F9F9F;
	margin: 0px 10px; 
	transition: .2s ease;
	text-decoration: none;
}
.contain-text .icons a:hover{
	color: #EA7738;
	transition: .2s ease;
}
